/* Custom */
/* Add indent */
p {
  text-indent: 0.5em;
}

h2 {
  margin-top: 2em;
  margin-bottom: 0.5em;
}
/* Custom */
/* Show post category */
.post-category {
  font-family: "PT Sans", Georgia, "Times New Roman", serif;
  display: block;
  color: #505050;
}

/* Add scrollbar in code block */
.highlight pre {
  word-wrap: normal;
  overflow-x: auto;
  white-space: pre;
}